/.fluxbox/*.jpg
/.fluxbox/apps
/.fluxbox/fbrun_history
/.fluxbox/fluxbox-menu
/.fluxbox/menu
/.fluxbox/menu.old
/.fluxbox/menuconfig
/.fluxbox/menudefs.hook
/.fluxbox/mmaker.menu
/.fluxbox/overlay
/.fluxbox/slitlist
/.fluxbox/usermenu
